<div class="feature">
  <h3>{{feature.title}}</h3>
  <hr/>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
  <hr/>
  <dl class="dl-horizontal">
    <dt>Description lists</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
  </dl>
  <hr/>
  <div class="container container-custom">
    <div class="row">
      <div class="col-md-6">.col-md-6</div>
      <div class="col-md-6">.col-md-6</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
      <div class="col-md-3">.col-md-3</div>
    </div>
  </div>
  <hr/>
  To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
  To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
  <hr/>
  <p class="bg-primary">bg-primary</p>
  <p class="bg-success">bg-success</p>
  <p class="bg-info">bg-info</p>
  <p class="bg-warning">bg-warning</p>
  <p class="bg-danger">bg-danger</p>
  <hr/>
  <div class="alert alert-success" role="alert">alert alert-success</div>
  <div class="alert alert-info" role="alert">alert alert-info</div>
  <div class="alert alert-warning" role="alert">alert alert-warning</div>
  <div class="alert alert-danger" role="alert">alert alert-danger</div>
</div>
