<div class="home">
  <div>
    <h4>
      <p class="label label-success">label-success</p>
      <p class="label label-info">label-info</p>
      <p class="label label-warning">label-warning</p>
      <p class="label label-danger">label-danger</p>
      <p class="label label-default">label-default</p>
      <p class="label label-primary">label-primary</p>
    </h4>
    <p>
      <code>{{home.currentUser}}</code>
    </p>
    <button class="btn btn-primary" ng-click="home.addToCart()">Add to cart</button>
    <a href="index.html#/angular/user/edit/123" class="btn btn-default">go to angular</a>
  </div>
  <div ui-view="modal" class="modal-animation" autoscroll="false"></div>
</div>
